
<div class="joystickcontainer noselect">
    <div class="zone">
        <ngx-joystick #staticJoystick
                        [options]="staticOptions"
                        (start)="onStartStatic($event)"
                        (end)="onEndStatic($event)"
                        (move)="onMoveStatic($event)"
                        (plainUp)="onPlainUpStatic($event)"
                        (plainDown)="onPlainDownStatic($event)"
                        (plainLeft)="onPlainLeftStatic($event)"
                        (plainRight)="onPlainRightStatic($event)">
        </ngx-joystick>
    </div>

</div>