  <launch>
    <!-- Load the urdf into the parameter server. -->
    <param name="robot_description" command="cat $(find bicopter)/urdf/bicopter.urdf" />

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" ></node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" > </node>


    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find bicopter)/rviz/rviz_test.rviz"  ></node>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <!-- <arg name="world_name" value="worlds/mud.world"/>  -->
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="recording" value="false"/>
      <arg name="debug" value="false"/>
    </include>

    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model bicopter" />

  </launch>
